// testing


// Potential fonts
// Heading: Libre Franklin
//
// Body: Libre Baskerville

h1, h2, h3, h4, h5 {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 900;
    font-style: italic;
    letter-spacing: .2rem;
    font-size: 6rem;
    text-align: center;
    display: block;
}

body {
    // font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Franklin', sans-serif;
}

img {
    margin: 4rem auto;
    display: block;
}

a {
    color: #9012FE;
    cursor: pointer;

    &:hover {
        color: #BD0FE1;
    }
}

.section {
    margin: 2rem 0;
    padding: 2rem 0;

    &__gray {
        background-color: #F9F9F9;
    }
}

.two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.name {
    font-weight: 100;
}

.welcome {
    margin: 3rem 0;
    font-size: 1.5rem;
    letter-spacing: .025rem;

    &__headline {
        // text-align: center;
        display: block;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    &__paragraph {
        line-height: 3rem;
        text-indent: 2rem;
    }
}

.down {
    background-image: url("/assets/img/down__arrow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: block;
    opacity: .5;
    height: 1.75rem;
    width: 1.75rem;
    margin: 1rem auto;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background: #EEEEEE;
    margin: 4rem 0 0;
}

.logo {
    background-image: url("/assets/img/finalists.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 1rem auto 0;
}
.headline {
    display: block;
    text-align: center;
}

.subline {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

.container {
    padding: 0 100px;
}
