// testing


// Potential fonts
// Heading: Libre Franklin
//
// Body: Libre Baskerville

h1, h2, h3, h4, h5 {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

body {
    font-family: 'Libre Baskerville', serif;
}

.logo {
    background-image: url("/assets/img/finalists.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: block;
    height: 5rem;
    width: 5rem;
    margin: 1rem auto;
}
.headline {
    padding: 100px;
    display: block;
    text-align: center;
}

.subline {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

.container {
    padding: 0 100px;
}
