h1, h2, h3, h4, h5 {
  font-family: 'Libre Franklin', sans-serif; }

h1 {
  font-weight: 900;
  font-style: italic;
  letter-spacing: .2rem;
  font-size: 6rem;
  text-align: center;
  display: block; }

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

a {
  color: #9012FE;
  cursor: pointer; }
  a:hover {
    color: #BD0FE1;
    text-decoration: none; }

.section {
  margin: 2rem 0;
  padding: 2rem 0; }
  .section__gray {
    background-color: #F9F9F9; }

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem; }

.name {
  font-weight: 400; }

.welcome {
  margin: 3rem 0;
  font-size: 1.75rem;
  letter-spacing: .025rem; }
  .welcome__headline {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600; }
  .welcome__paragraph {
    line-height: 3rem;
    text-indent: 2rem;
    font-weight: 300; }

.down__arrow {
  background-image: url("/assets/img/down__arrow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  cursor: pointer;
  opacity: .2;
  height: 1.75rem;
  width: 1.75rem;
  display: block;
  bottom: 10px;
  margin: 1rem auto; }
  .down__arrow:hover {
    opacity: 1; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.center-block {
  width: 100%;
  margin: 2rem 0 1rem;
  display: block; }

.caption {
  font-size: .75rem;
  color: gray;
  font-weight: 300;
  line-height: normal;
  display: block;
  text-align: center; }

.line {
  height: 1px;
  width: 100%;
  background: #EEEEEE;
  margin: 4rem 0 0; }

.logo {
  background-image: url("/assets/img/finalists.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 1rem auto 0; }

.headline {
  display: block;
  text-align: center;
  height: 100vh; }

.subline {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px; }

.container {
  padding: 0 100px; }
