body {
  color: #131311;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  line-height: 1.7rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif; }

h1 {
  font-weight: 600;
  letter-spacing: .2rem;
  font-size: 3rem;
  text-align: center;
  display: block; }

h4 {
  font-weight: 600; }

h6 {
  opacity: .9;
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .025rem;
  margin-bottom: 1.75rem;
  line-height: 1.2rem; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.mdash {
  margin: 0 .5rem;
  opacity: .45; }

a {
  color: #B5995F;
  cursor: pointer; }
  a:hover {
    color: #D6BE8A;
    text-decoration: none; }

.section {
  margin: 2rem 0;
  padding: 2rem 0; }
  .section__gray {
    background-color: #F9F9F9; }

.italic {
  font-style: italic; }

.name {
  font-weight: 600;
  letter-spacing: .04rem;
  font-size: 1.2rem; }

.welcome {
  margin: 3rem 0;
  font-size: 1.75rem;
  letter-spacing: .025rem; }
  .welcome__headline {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600; }
  .welcome__paragraph {
    line-height: 3rem;
    text-indent: 2rem;
    font-weight: 300; }

.down__arrow {
  background-image: url("/assets/img/down__arrow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  cursor: pointer;
  opacity: .7;
  height: 1.75rem;
  width: 1.75rem;
  display: block;
  bottom: 10px;
  margin: 1rem auto; }
  .down__arrow:hover {
    opacity: 1; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.center-block {
  width: 100%;
  margin: 2rem 0 1rem;
  display: block; }

img {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 3px !important;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.06) !important; }

.caption {
  font-size: .75rem;
  color: gray;
  font-weight: 300;
  line-height: normal;
  display: block;
  text-align: center;
  margin-bottom: 2.5rem; }

.line {
  height: 1px;
  width: 100%;
  background: #EEEEEE;
  margin: 4rem 0 0; }

.logo {
  background-image: url("/assets/img/finalists.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 1rem auto 0;
  opacity: .9; }

.headline {
  display: block;
  text-align: center;
  height: 100vh; }

.subline {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px; }

.flex__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex__item {
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

.container {
  padding: 0 100px; }

.pull__right {
  float: right; }

.pull__left {
  float: left; }

.button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer; }
  .button__primary {
    background-color: #19181A;
    color: #ffffff !important; }
